<div class="artificer-window artificer-import-window artificer-import-layout">
    {{!-- Header --}}
    <div class="artificer-header">
        <div class="artificer-header-content">
            <div class="artificer-header-icon">
                <i class="fa-solid fa-file-import"></i>
            </div>
            <div class="artificer-header-title">
                <div class="artificer-main-title">Import Items from JSON</div>
                <div class="artificer-subtitle">Artificer Ingredients, Components & Essences</div>
            </div>
        </div>
    </div>

    {{!-- Content: toolbar + textarea --}}
    <div class="artificer-content artificer-import-content">
        <div class="artificer-import-toolbar">
            <button type="button" class="artificer-button artificer-button-copy" data-action="copy-prompt" title="Copy ingredient prompt to clipboard">
                <i class="fa-solid fa-copy"></i> Copy Prompt
            </button>
            <button type="button" class="artificer-button artificer-button-select" data-action="select-file" title="Load JSON from file">
                <i class="fa-solid fa-folder-open"></i> Load File
            </button>
        </div>
        <input type="file" id="artificer-import-file-input" accept="application/json,.json" style="display: none;">
        <textarea id="artificer-import-json" name="jsonContent" class="artificer-import-textarea" placeholder='Paste JSON here, e.g. { "name": "Lavender", "type": "consumable", ... }'></textarea>
    </div>

    {{!-- Form Actions (locked to bottom) --}}
    <div class="artificer-form-actions">
        <button type="button" class="artificer-button" data-action="cancel">
            <i class="fa-solid fa-times"></i> Cancel Import
        </button>
        <button type="submit" class="artificer-button" data-action="import">
            <i class="fa-solid fa-file-import"></i> Import JSON
        </button>
    </div>
</div>
